:root {
    --white: #c9c9c9;
    --background: #abb8c3;
    --background-hover: #565758;
    --background-hover-t: #56575859;
    --primary-pink: #D2738A;
    --primary-red: #E53935;
    --primary-blue: #1976D2;
    --primary-orange: #FF6F00;
    --primary-green: #76D219;
    --blue-gray: #f4fcff;
    --primary-violet: #6238E2;
    --background-violet-light: #EEEBFD;
    --gray: #D5D4D5;
    --transparent: #00000000;
}


/* FUENTE
@font-face {
    font-family: "Consolas";
    src: url(main/fonts/consola.ttf);
  }
.card-body {
*/

@font-face {
    font-family: "consola";
    src: url("./assets/ancizar.otf");
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    padding-left: 20%;
    padding-right: 20%;
    font-family: "consola" !important;
    letter-spacing: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    /*background-image: url(public/img/misc/bg205.gif); */
    background: var(--background);
    color: var(--white);
}

#viewer3d {
    width: 100%;
    height: 550px;
}

div.caja {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-image: url(img/misc/bg205.gif); */
    background-color: var(--transparent);
    box-shadow: 0 0 15px var(--transparent);
}

a.link {
    color: var(--primary-green);
}

label.logo {
    display: center;
    font-size: large;
    color: #c9c9c9;
    font-weight: bold;
    min-width: auto;
}

.title {
    width: 100%;
    float: left;
    font-size: larger;
    padding-bottom: 30px;
    color: #c9c9c9;
    font-weight: bold;
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

.pretitle {
    width: 100%;
    font-size: larger;
    color: #c9c9c9;
    font-weight: bold;
}

.text {
    font-size: medium;
    color: #c9c9c9;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 15px;
}


/* nav y footer para pantallas normales */

nav {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*background-image: url(img/misc/drip_u.gif); */
    box-shadow: 0 0 15px var(--transparent);
    /*padding-top: 6%; */
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    float: right;
    display: flex;
}

nav ul li {
    display: inline-block;
    line-height: 12px;
    margin: 0;
}

nav ul li a {
    color: var(--primary-pink);
    font-size: normal;
    padding: 0px 13px;
    border-radius: 3px;
    display: flex;
}

a.active,
a:hover {
    color: var(--white);
    text-decoration-line: underline;
    text-underline-offset: 3px;
    transition: .5s;
}

a.home {
    color: var(--white);
    text-underline-offset: 3px;
    transition: .5s;
}

footer {
    padding: 20px;
    margin-bottom: 20px;
    /*background-image: url(img/misc/drip_u.gif); */
    box-shadow: 0 0 15px var(--transparent);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer ul {
    float: right;
    display: flex;
}

footer ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0;
}

footer ul li a {
    float: center;
    color: var(--primary-pink);
    font-size: medium;
    padding: 7px 13px;
    border-radius: 3px;
}


/* Ocultar elementos de navegaci칩n y pie de p치gina en pantallas peque침as */

@media screen and (max-width: 700px) {
    nav,
    footer ul {
        display: none;
    }
    nav.accordion-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    footer ul.iconos {
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-wrap: nowrap;
    }
    body {
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media screen and (min-width: 700px) {
    nav.accordion-container {
        display: none;
    }
    footer ul.iconos {
        display: none;
    }
}


/* nav y footer para pantallas peque침as */

.accordion-container {
    background: var(--transparent);
    /*background-image: url(img/misc/drip_u.gif); */
    width: 100%;
    height: 64px;
}

.main-item {
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    float: right;
    cursor: pointer;
    background: var(--transparent);
    gap: 8px;
    min-width: 30%;
    min-height: 35px;
    justify-content: flex-end;
    align-content: center;
    transition: all ease-in-out 0.25s;
}

.main-item:hover {
    background-color: var(--transparent);
    color: var(--primary-pink);
}

.main-item svg {
    color: var(--primary-pink);
    transition: all ease-in-out 0.25s;
    float: right;
}

.main-item:hover svg {
    color: var(--primary-pink);
}

.main-item--open {
    color: var(--primary-pink);
    border-radius: 8px 8px 0px 0px;
    background-color: var(--background-hover-t);
    background-image: url(img/misc/drip_u.gif);
    transition: all 200ms;
}

.main-item--open:hover {
    color: var(--primary-pink);
    border-radius: 8px 8px 0px 0px;
    background-color: var(--background);
}

.main-item--open svg {
    color: var(--primary-pink);
}

.main-item--open:hover svg {
    color: var(--primary-pink);
}

.accordion-container>ul {
    max-height: 200px;
    background-image: url(img/misc/drip_u.gif);
    list-style-type: none;
    opacity: 0;
    display: none;
    visibility: hidden;
    transition: all ease-in-out 0.2s;
}

.main-item--open+ul {
    visibility: visible;
    min-height: 30px;
    opacity: 1;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    align-items: center;
    min-width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 1;
}

.accordion-container>ul>li {
    height: 30px;
    font-weight: normal;
    width: 100%;
    padding-top: 8px;
}

.accordion-container>ul>li:hover {
    color: var(--primary-orange);
    cursor: pointer;
}


/* HR STYLE */

img {
    float: block;
}

.resistencia-container {
    display: flex;
    align-items: center;
}

hr.resistencia {
    border: none;
    height: 50px;
    position: relative;
    background-image: url(public/img/svg/resist.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex-grow: 2;
}

.cable {
    flex-grow: 6;
    width: fit-content;
    height: 2.5px;
    background-color: #c9c9c9;
}


/* FAQ STYLE */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400%;
    border-radius: 1em;
    background-color: var(--transparent);
}

.faq-title {
    color: var(--white);
    width: 90%;
    transition: all 250ms ease-in-out;
}

.faq-content {
    color: var(--white);
    padding: 0.2rem 1rem 1rem 1rem;
    font-weight: 300;
    line-height: 1.5;
}

details {
    font-size: 1rem;
    margin: 0 auto;
    width: 100%;
    border-radius: 0.5rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}

details:hover {
    background-color: var(--background-hover-t);
}

details:hover svg {
    stroke: var(--primary-pink);
}

details[open] {
    background-color: var(--background-hover-t);
}

details[open] .faq-title {
    color: var(--primary-pink);
}

summary {
    user-select: none;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    list-style: none;
    padding: 1rem;
    align-items: center;
}

summary svg {
    stroke: var(--white);
}

details[open] summary svg {
    stroke: var(--primary-pink);
    transform: rotate(90deg);
}

summary:hover .faq-title {
    color: var(--primary-pink);
}

summary::-webkit-details-marker {
    display: none;
}

summary:focus {
    outline: none;
}

.expand-icon {
    pointer-events: none;
    position: absolute;
    right: 1rem;
    transition: all 150ms ease-out;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;
}

.card {
    width: 32%;
    height: 32%;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    padding: 3%;
    transition: transform 0.5s;
    border-radius: 10px;
}

.card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #00000080;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: var(--white);
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s;
}

.card:hover .card-body {
    right: 0;
}

h1.card-title {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

p.card-sub {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

@media screen and (max-width: 700px) {
    p.card-sub {
        font-size: 0.8rem;
        margin-bottom: 5px;
    }
    h1.card-title {
        font-size: 75%;
    }
    .card-body {
        position: relative;
    }
}


